<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/fragmentos :: referencias">
	<title id="pageTitle" >Cadastro de Peças</title>
</head>
<body>
	
    <div class="panel panel-default body-size">
    
    	<div class="panel-heading">
    		<div  th:replace="layout/fragmentos :: cabecalho"></div>
        </div>
        
         <div data-th-replace="layout/fragmentos-mensagens :: mensagem-sucesso" ></div>
        
        <div class="panel panel-body">
            <form class="form-horizontal" th:object="${peca}" th:action="@{/pecas/save}" method="POST" style="margin: 10px">
                
                <div data-th-replace="layout/fragmentos-mensagens :: mensagem-erro-form"></div>
                
                <div class="form-group ">
                    <fieldset class="filedset-body">
                        <div class="form-group row">
                           
                        </div>                    
                        <div class="form-group row">
                            <div class="col-md-1 col-xs-3 col-sm-2">
                                <input type="text" class="form-control input-sm" id="id_peca" th:field="*{idPeca}" readOnly="readonly"/>
                            </div>
                         </div>

                        <div class="form-group row">                                                          
                            <div class="col-md-4 form-imput" >
                                <label>Descricao</label>
                                <textarea class="form-control input-sm" th:field="*{descPeca}" cols="5" rows="5" placeholder="Informe a Descricao"></textarea>
                            </div>
                        </div> 
                        
                        <div class="form-group row">
                            <div class="col-md-4 form-imput">
                            	<label>Fabricantes</label> 
                                <select name="idFabricante" class="form-control">
									<option data-th-each="fabricante : ${FabricanteTodos}"
									      	data-th-value="${fabricante.idFabricante}" 
									      	data-th-text="${fabricante.descFabricante}"></option>
								</select>
                            </div>
                        </div>
                                               
                    </fieldset>
                </div>
                <div class="form-group row text-center">
                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                    <a th:href="@{/pecas}" class="btn btn-sm btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>