<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	
	<link rel="icon" th:href="@{/img/favicon.png}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    
	<script th:src="@{/js/busca-cep.js}" type="text/javascript"></script>
	<script th:src="@{/js/locastyle.js}" type="text/javascript"></script>
	<script th:src="@{/js/mascaras.js}" type="text/javascript"></script>
	
	<script th:src="@{/bootstrap4/js/jquery-3.1.1.slim.min.js}" type="text/javascript"></script>
	<script th:src="@{/bootstrap4/js/tether.min.js}" type="text/javascript"></script>
	<script th:src="@{/bootstrap4/js/bootstrap.min.js}" type="text/javascript"></script>


	<link th:href = "@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <link th:href = "@{/css/estilos.css}" rel="stylesheet"/>
    <link th:href = "@{/bootstrap4/css/dataTables.bootstrap4.min.css}" rel="stylesheet"/>
    <link rel="icon" href="img/favicon.png"/>
    
    <script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap4/js/dataTables.bootstrap4.min.js}" type="text/javascript"></script>

	<link th:href = "@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
	<!-- <title id="pageTitle" >Cadastro de Veiculos</title> -->
	<title>Controle de Veiculos</title>
	
</head>

<body>
    <div class="panel panel-default body-size">
    
     <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
		  <img src="/img/logo.png" class="img-responsive img-rounded" alt="imagem logo" width= "130"/>
		  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link active" th:href="@{/}">Página Inicial <span class="sr-only">(current)</span></a>
          </li>	

          <li class="nav-item dropdown">
			 <div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Controle
			  </button>
			  <div class="dropdown-menu col-md-8" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" th:href="@{/fabricantes/}">Fabricantes</a>
            	<a class="dropdown-item" th:href="@{/lojas/}">Lojas</a>
            	<a class="dropdown-item" th:href="@{/manutencoes/}">Manutenção</a>
            	<a class="dropdown-item" th:href="@{/modelos/}">Modelos</a>
            	<a class="dropdown-item" th:href="@{/montadoras/}">Montadoras</a>
	            <a class="dropdown-item" th:href="@{/oficinas/}">Oficinas</a>
	            <a class="dropdown-item" th:href="@{/servicos/}">Serviços</a>
	            <a class="dropdown-item" th:href="@{/pecas/}">Peças</a>
	            <a class="dropdown-item" th:href="@{/produtos/}">Produtos</a>
	            <a class="dropdown-item" th:href="@{/tipoveiculos/}">Tipo veiculos</a>
	            <a class="dropdown-item" th:href="@{/veiculos/}">Veiculos</a>
	            
	            <div class="dropdown-divider"></div>
	            
	            <a class="dropdown-item" th:href="@{/manutencaopecas/}">Manutenção-Peça</a>
	            <a class="dropdown-item" th:href="@{/manutencaoprodutos/}">Manutenção-Produto</a>
	            <a class="dropdown-item" th:href="@{/manutencaoservicos/}">Manutenção-Serviço</a>
	            
			  </div>
			</div>
          </li>
        </ul>
        <div class="form-inline my-2 my-md-0">
          <ul class="nav navbar-nav navbar-right painel-sair" >
          
          <li><a href="#">Seja bem vindo: 
			<span sec:authentication="name">Visitante</span></a>
		</li>
		
		<li>
			<form th:action="@{/logout}" method="POST" style="padding-top:10px">
				<button type="submit" class="btn btn-link"> 
					<span class="glyphicon glyphicon-log-out" title="Sair"></span></button>
			</form>  
		</li>
          
         
      </ul>
        </div>
      </div>
		</nav>
        <br>
       
        <div class="card-block" >
        
            <div class="table-responsive">
                <table id="tabela" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>COR</th>
                            <th>Ano MODELO</th>
                             <th>Ano Fabricação</th> 
                            <th>Observação</th>
                            <!-- <th>Data da Compra</th>  -->
                            <th>Valor da Compra</th>
                            <th>Kilometragem</th>
                            <!-- <th>Data da Venda</th>  -->
                            <th>Modelo</th>
                            <th>Loja</th>
                            <th><small class="detalhes">Opções</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="veiculo : ${veiculos}">
                            <td th:text="${veiculo.idRenavam}"></td>
                            <td th:text="${veiculo.descricaoCor}"></td>
                            <td th:text="${veiculo.anoModelo}"></td>
                            
                            <td th:text="${veiculo.anoFabricacao}"></td>  
                            <td th:text="${veiculo.observacao}"></td>
                            <!-- <td th:text="${{veiculo.dataCompra}}"></td>  -->
                            
                            <td th:text="${veiculo.valorCompra}"></td>
                            <td th:text="${veiculo.kilometragemCompra}"></td>
                            
                            <!-- <td th:text="${veiculo.dataVenda}"></td>  -->
                            
                            <td th:text="${veiculo.modelo}"></td>
                            <td th:text="${veiculo.loja}"></td>
                            
                            
                            
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/veiculos/edit/{id}(id=${veiculo.idRenavam})}" >Editar</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/veiculos/delete/{id}(id=${veiculo.idRenavam})}">Excluir</a>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        
        <div class="card-footer text-right">
            <a class="btn btn-sm btn-success" th:href="@{/veiculos/add/}" >Cadastrar Novo</a>
        </div>
        
        
    </div>
    
    <script>
        $("#tabela").dataTable();
    </script>
    
</body>
</html>