.body-size{
	width: 95%;
	margin-left: 2em;	
}

.filedset-body{
	margin-left: 15%;
}

.form-imput{
	width: 80.333333%;
}

.form-login{
	width: 50%;
	margin-left: 25%;
}

.divisoria{
	width: 100%;
	margin-left: 0px;
    margin-right: 0px;
}

.heading{
	margin-left: 0px;
	width: 100%;
}

.painel-sair{
	display: inline;
	
}

.li-sair{
	margin-right: 0;
}

.sair{
	margin: -1.3rem;
}

.detalhes{
	margin-left: 1rem;
	color: #b2b2b2;
}