<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/fragmentos :: referencias"> 
		
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title  id="pageTitle">Admin</title>
	</head>
	<body>
	  <div class="panel panel-default body-size">
		<div class="panel-heading heading">
    		<img src="/img/logo.png" class="img-responsive img-rounded" alt="imagem logo" width= "130"/>
        </div>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Oficina.NET</h1>
	               		<div>
	               			<hr class= "divisoria">
	               		</div>
	               	</div>
	               
	            </div> 
	           <fieldset>
	           <nav class="navbar navbar-inverse">
					<div class="container-fluid">
    					<div class="navbar-header">
					      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand" href="#">LOGOUT</a>
					    </div>
					    <div class="collapse navbar-collapse" id="myNavbar">
					      
					     
					    </div>
					  </div>
					</nav>
					  
					
					<div class="container-fluid text-center">
					  <div class="row content">
					  
					     <p> 
					</p>   
					<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>Volver atras</button>
					  
					    </div>
					   
					  </div>



				</fieldset>
			</div>
		</div>
		
		<footer class="container-fluid text-center">
		  <p></p>
		</footer>
		

	</body>
</html>